service routing protocols model multi-agent

{% for item in underlay[inventory_hostname]['interfaces'] %}
interface {{ item }}
   ip address {{ underlay[inventory_hostname]['interfaces'][item]['ipv4']}}/{{ underlay[inventory_hostname]['interfaces'][item]['mask']}}
   {% if 'Ethernet' in item %}
   no switchport
   mtu {{ underlay['global']['MTU'] }}
{% endif %}
{% endfor %}

ip prefix-list LOOPBACK
    seq 10 permit 192.168.101.0/24 eq 32
    seq 20 permit 192.168.102.0/24 eq 32
    seq 30 permit 192.168.201.0/24 eq 32
    seq 40 permit 192.168.202.0/24 eq 32
    seq 50 permit 192.168.253.0/24 eq 32

route-map LOOPBACK permit 10
   match ip address prefix-list LOOPBACK

router bgp {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   router-id {{ underlay[inventory_hostname]['interfaces']['loopback0']['ipv4']}}

   no bgp default ipv4-unicast
   maximum-paths 3
   distance bgp 20 200 200


   neighbor Underlay peer group  
   neighbor Underlay remote-as {{ underlay[inventory_hostname]['BGP']['spine-ASN'] }}
   neighbor Underlay send-community
   neighbor Underlay maximum-routes 12000

   neighbor LEAF_Peer peer group
   neighbor LEAF_Peer remote-as {{ underlay[inventory_hostname]['BGP']['ASN'] }}
   neighbor LEAF_Peer next-hop-self
   neighbor LEAF_Peer maximum-routes 12000


{% for peer in underlay[inventory_hostname]['BGP']['spine-peers'] %}
   neighbor {{ peer }} peer group Underlay
{% endfor %}   
{% if underlay[inventory_hostname]['MLAG'] == "Odd" %}
   neighbor 192.168.255.2 peer group LEAF_Peer
   {% else %}
   neighbor 192.168.255.1 peer group LEAF_Peer
{% endif %}

  neighbor EVPN peer group
  {% if 'DC1' in inventory_hostname %}
   neighbor EVPN remote-as {{ underlay['global']['DC1']['spine_ASN']}} 
  {% endif %}  
  {% if 'DC2' in inventory_hostname %}
   neighbor EVPN remote-as {{ underlay['global']['DC2']['spine_ASN']}} 
  {% endif %}  

 neighbor EVPN update-source Loopback0
 neighbor EVPN allowas-in 1
 neighbor EVPN ebgp-multihop 3
 neighbor EVPN send-community extended
 neighbor EVPN maximum-routes 12000
  
{% if 'DC1' in inventory_hostname %}
{% for peer in underlay['global']['DC1']['spine_peers'] %}
   neighbor {{ peer }} peer group EVPN
{% endfor %}   
  {% endif %}  
{% if 'DC2' in inventory_hostname %}
{% for peer in underlay['global']['DC2']['spine_peers'] %}
   neighbor {{ peer }} peer group EVPN
{% endfor %}   
  {% endif %}  
 !
   address-family evpn
     neighbor EVPN activate
   
   address-family ipv4
     neighbor Underlay activate
     neighbor LEAF_Peer activate
     redistribute connected route-map LOOPBACK